<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="Test">
		<parameter name="userId" value="1"></parameter>
		<parameter name="firstName" value="Richard"></parameter>
		<parameter name="lastName" value="Kim"></parameter>
		<classes>

			<class name="restAssured.restAssured.DataDrivenExamples1" />
			<class name="restAssured.restAssured.Test01_GET" />
			<class name="restAssured.restAssured.Test01_POST" />
			<class name="restAssured.restAssured.Tests_POST" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
